<!-- CS colors -->
.bg-color{
    -fx-background-color: #31393C;
}
.Pane{
    -fx-background-color: #dee2e6;
}

.Pane-Vbox{
    -fx-background-color: #e5e5e5;
}
.text{
    -fx-text-fill: #ffffff;
    font-family: 'Mukta', sans-serif;
}
/* Button styling */
.button{
    -fx-background-color: #6930C3;
    -fx-opacity: 1;
}
.button:hover{
    -fx-opacity: 0.8;


}

.button:pressed{
    -fx-opacity: 0.5;
    -fx-background-color: #6930C3;

}